{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form method="POST" action="{{ url_for('insert_recipe') }}">
            <label>
                Title:
                <input type="text" name="title" placeholder="Filet Mignon"/>
            </label>

            <br>

            <label id="ingredients">
                Ingredient:
                <input type="text" name="ingredient0" placeholder="Tofu"/>
                <select name="ingr_type0">
                    <option value="1">Proteins</option>
                    <option value="2">Grains/Rice</option>
                    <option value="3">Dry Ingredients</option>
                    <option value="4">Wet Ingredients</option>
                    <option value="5">Oils</option>
                    <option value="6">Seasoning/Spices</option>
                </select>
            </label>

            <input type="button" value="Add Ingredient" onclick="add_ingredient(); setIngredientFocus();"/>

            <br>

            <label id="instructions">
                Instructions:
                <input type="text" name="instruction0"/>
            </label>

            <input type="button" onclick="add_instruction(); setInstructionFocus();"/>
            <button type="submit">go!</button>
        </form>
    </div>

    <script src="/static/js/add_inputs.js"></script>
{% endblock %}